@use 'styles/variables' as v;
@use 'styles/mixins' as m;

.button {
  font-size: 1.8rem;
  color: v.$white-color;
  @include m.aline-center();
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  &_disabled {
    @include m.disabled();

    &:hover {
      @include m.disabled();
    }
  }
}

.button_color-primary {
  background-color: v.$primary-color;

  .loader_inButton {
    @include m.loader-color(v.$white-color, v.$primary-color);
    margin-left: 5px;
  }
}

.button_color-secondary {
  background-color: v.$secondary-color;

  .loader_inButton {
    @include m.loader-color(v.$white-color, v.$secondary-color);
    margin-left: 5px;
  }
}
