$primary-color: #FF0000;
$secondary-color: #FFDFDF;
$pink-color: #FFCBCB;
$white-color: #FFFFFF;
$background-color: #F5F5F5;
$base-border-radius: 7px;
$drop-padding: 4px 4px 4px 19px;
$checkbox-color: #FFDFF0;
$black-color: #000000;
$dark-text-color: #0D0D0D;
$dark-blue-text-color: #09051C;
$grey-text-color: #3B3B3B;
$margin: 16px;
$margin-large: 28px;

$large-width: 1000px;
$medium-width: 767px;
$small-width: 500px;

