@use 'styles/variables' as v;
@use 'styles/mixins' as m;

.recipeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8px;
}

.recipeCards__item {
  width: 32%;
  min-width: 155px;
  min-height: 209px;
  margin-bottom: 2rem;
  @include m.media-max767 {
    width: 48%;
  }
}
